[submodule "11-calculator-zoneless"]
	path = 11-calculator-zoneless
	url = https://github.com/santiago-reyes-buitrago/estudio_fernando_udemy_angular_calculator_zoneless.git
[submodule "12-pokemon-ssr"]
	path = 12-pokemon-ssr
	url = https://github.com/santiago-reyes-buitrago/estudio_fernando_udemy_angular_pokemon_ssr.git
[submodule "13-github-issues"]
	path = 13-github-issues
	url = https://github.com/santiago-reyes-buitrago/estudio_fernando_udemy_angular_tanlstack_query.git
[submodule "14-company-app"]
	path = 14-company-app
	url = https://github.com/santiago-reyes-buitrago/estudio_fernando_udemy_angular_monorepo.git
[submodule "15-my-workspace"]
	path = 15-my-workspace
	url = https://github.com/santiago-reyes-buitrago/estudio_fernando_udemy_angular_workspace.git
[submodule "16-i18n-app"]
	path = 16-i18n-app
	url = https://github.com/santiago-reyes-buitrago/estudio_fernando_udemy_angular_i18n_ssr.git
